---
layout: page
title: "关于我们"
description: "信仰告白"
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p><br>
      
「深圳南山圣约归正教会」是主耶稣基督的教会，毫不妥协传讲遵行圣经，持守表明宗教改革的福音真理。深圳南山圣约归正教会的五大基本信念是：
（1）教会
教会的唯一根基是主耶稣基督（太16：16；林前3：11）。教会要遵行「大使命」，使万民作主门徒（太28：19-20）。教会是永生神的家，真理的柱石和根基，要传讲持守福音真理（提后3：15）；为要成全圣徒、各尽其职、建立基督的身体（弗4：11），使之成为荣耀的教会，圣洁没有瑕疵，完全归属于主（弗5：25-27）。
「圣约归正教会」的异象和使命是：忠心传讲圣道、恒切施行圣礼、认真执行管教，因为这才是真教会的特征。圣约归正教会靠主恩典，为主荣耀，带领神的儿女，认真实行教会生活，以履行教会的三使命：献上全心敬拜上帝、教导圣经养育圣徒、传扬福音领人归主。
(2）圣经
教会是建造在使徒和先知的根基上，有主基督耶稣自己为房角石（弗2：20）。换言之，教会是建造在主耶稣基督的圣道启示上，即透过使徒先知写成的圣经。神用真道重生了我们，也是以至圣真道来造就我们（雅1：18；彼前1：23-25；犹20）。所以，真教会的生活事奉，必须完全遵行圣经，不可高举人的传统、理性、经验；毫不掺杂人本主义，不容世俗作风渗入。
「圣约归正教会」秉持「唯独圣经」的真理，完全根据圣经来讲道、教导、辅导。讲坛信息必须是「解经讲道」，主日学教导必须是「圣经教导」，团契生活与门徒训练必须是「圣经辅导」。
（3）圣约
圣约是贯穿整本圣经，横夸人类整体历史的，因此，我们的解经是以圣约为脉络，以新约解释旧约，发搅圣约在每个历史背景下的救赎延展，以便以恩典坚固人心，快跑跟随主。【来13:9】你们不要被那诸般怪异的教训勾引了去。因为人心靠恩得坚固才是好的，并不是靠饮食；那在饮食上专心的，从来没有得着益处。
圣约同时又是联结人与神之间的纽带，深刻的认识圣约，是圣约子民过好圣约生活必不可缺少的真理，教会是圣约子民的大团契，正确的认识圣约，是促进教会的和谐，稳定，发展，建全必不可缺少的动力。【弗4:11】他所赐的有使徒，有先知，有传福音的，有牧师和教师。
【弗4:12】为要成全圣徒，各尽其职，建立基督的身体，
【弗4:13】直等到我们众人在真道上同归于一，认识　神的儿子，得以长大成人，满有基督长成的身量，
【弗4:14】使我们不再作小孩子，中了人的诡计和欺骗的法术，被一切异教之风摇动，飘来飘去，就随从各样的异端。
【弗4:15】惟用爱心说诚实话，凡事长进，连于元首基督。
【弗4:16】全身都靠他联络得合式，百节各按各职，照着各体的功用彼此相助，便叫身体渐渐增长，在爱中建立自己。
（4）圣灵
圣灵是圣子基督救赎功成之后赐下的唯一保惠师，且真实的活泼的住在每一个圣徒的身体里；【约14:15】“你们若爱我，就必遵守我的命令。
【约14:16】我要求父，父就另外赐给你们一位保惠师（或作“训慰师”。下同），叫他永远与你们同在，
【约14:17】就是真理的圣灵，乃世人不能接受的。因为不见他，也不认识他；你们却认识他，因他常与你们同在，也要在你们里面。
【约14:19】还有不多的时候，世人不再看见我，你们却看见我，因为我活着，你们也要活着。
又是来为耶稣基督作见证的；【约16:14】他要荣耀我，因为他要将受于我的告诉你们。又要带领信徒进入一切的真理；又用说不出来的叹息常替圣徒代祷；也是来【约16:13】只等真理的圣灵来了，他要引导你们明白（原文作“进入”）一切的真理；因为他不是凭自己说的，乃是把他所听见的都说出来，并要把将来的事告诉你们。
叫世人为罪，为义，为审判自己责备自己的。【约16:8】他既来了，就要叫世人为罪、为义、为审判，自己责备自己。
因此，我们竭力主张门徒当与圣灵有位格的交流，亲密的关系；在圣灵的光照中借圣经正确的认识基督，为主作见证；借着真道在圣灵中祷告；并为福音事功，各项圣工恒切祷告。
（5）归正
教会历史清楚显示：当圣经真道未被持守传讲时，教会就处于黑暗之中。中世纪教会有一千年之久，被称为是「黑暗时代」，正因圣经真道被遮蔽谬讲。在十六世纪， 神兴起马丁路德与约翰加尔文等改教家，带来「宗教改革」的「归正运动」，高举圣经真道「唯独圣经、唯独恩典、唯独因信基督称义、唯独基督是中心、唯独神得 荣耀」，带来教会的更新与复兴。
纯正福音信仰的基督教会，都是「宗教改革」的归正子孙。然而历经四百多年后，今日的教会彷彿退回到了中世纪：真道不彰，假道横行，世俗歪风吹进教会，人本主 义又充斥于信徒生活中。今日教会唯有归回圣经，才能拨乱反正；唯有高举坚守「宗教改革归正」的真道信仰，才能中流砥柱。
因此，本教会名为「归正」，表明坚守「宗教改革归正」的「五大唯独」真道信仰，以及历代归正教会的信仰告白，为要忠心传讲使人「悔改归正」的福音（徒3：19），并且认真持守「使人归正」的圣经（提后3：16），叫属神的人得以完全，预备各样的善事，荣耀主名，直到主来。
  

</p></blockquote>

    <p>。<strong>联系我们</strong>联系人邮箱</p>

    <p>联系人</p>

    <p></p>
    

    <ul>
    </ul>
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

