---
layout: page
description: "義人要發旺如棕樹，生長如黎巴嫩的香柏樹。 他們栽於耶和華的殿中，發旺在我們神的院裡。-詩篇92:12-13"
---

{% for item in site.data.recent %}
<div class="post-preview">
    <a href="{{ site.baseurl }}{{ item.url }}">
        <h2 class="post-title">{{ item.title }}</h2>
        {% if item.subtitle != "" %}<h3 class="post-subtitle">{{ item.subtitle }}</h3>{% endif %}
    </a>
    <p class="post-meta">发布于 {{ item.date }}</p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
