---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/img/post-bg-2015.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{ page.book_name }} 第{{ page.chapter }}章</h1>
                    <span class="subheading">加尔文圣经注释</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">

            <p style="margin-bottom:24px;">
                <a href="{{ site.baseurl }}/calvin/{{ page.book_id }}/">&larr; 返回{{ page.book_name }}章节列表</a>
            </p>

            {{ content }}

            <hr>
            <ul class="pager">
                {% if page.chapter > 1 %}
                <li class="previous">
                    <a href="{{ site.baseurl }}/calvin/{{ page.book_id }}/{{ page.chapter | minus: 1 }}/">
                        &larr; 第{{ page.chapter | minus: 1 }}章
                    </a>
                </li>
                {% endif %}
                {% assign next_ch = page.chapter | plus: 1 %}
                {% if next_ch <= page.total_chapters %}
                <li class="next">
                    <a href="{{ site.baseurl }}/calvin/{{ page.book_id }}/{{ next_ch }}/">
                        第{{ next_ch }}章 &rarr;
                    </a>
                </li>
                {% endif %}
            </ul>

        </div>
    </div>
</div>
